.container{
  height: 98vh;
  width: 99.9%;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.header{
  height: 5rem;
  width: 100%;
  background-color: rgb(2, 4, 70);
}

.title{
  text-align: center; 
}

.title h1{
  font-size: 5vh;
  font-weight: 100;
}

.center{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 600px ){ 
  .center{
    
    align-items: flex-end;
    justify-content: center;
  }

  .minmax{
    
    min-height: auto;
    min-width: 50rem auto;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  h2 .label{
    font-weight: 100;
    text-align: center; 
  }
  
  .minmax input{
    align-items: center;
    min-height: 5vh auto;
    min-width: 10vh auto;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;  
  }
}

.minmax{
  display: flex;
  min-height: auto;
  min-width: 50rem auto;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

h2 .label{
  font-weight: 100;
  text-align: center; 
}

.minmax input{
  align-items: center;
  min-height: 5vh auto;
  min-width: 10vh auto;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  margin: 20px;  
}

::placeholder{
  font-size: 15px;
}

.genRandom{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

.genRandom button{
  min-height: 3.7vh auto;
  min-width: 7vh auto;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.genNumber h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;  
  font-size: 20vh;
  font-weight: 600;
  text-align: center;
}

.reset{
  display: flex;
  justify-content: center;  
  margin-top: 10px;
}

.reset button {
  min-height: 3.7vh auto;
  min-width: 7vh auto;
  font-size: 18px;
  padding: 5px;
  bottom: 20vh ;
  right: 98vh ; 
  cursor: pointer;

}
